{% extends 'layout/index.html' %}
{% load static %}
{% block title %}Index{% endblock %}
{% block content %}
    <div id="app">
        <div class="form">
            <form method="post" id="postForm">
                <div class="form-group">
                    <label for="title">Title <span class="text-danger">*</span></label>
                    <input v-model="form.title" type="text" class="form-control" :class="formClass.errorTitleClass"
                           name="title" id="title" placeholder="Title...">
                    <div class="invalid-feedback">
                        [[error.title]]
                    </div>
                </div>

                <div class="form-group">
                    <label for="content">Content <span class="text-danger">*</span></label>
                    <textarea v-model="form.content" name="content" class="form-control"
                              :class="formClass.errorContentClass" id="content" cols="30" rows="10"></textarea>
                    <div class="invalid-feedback">
                        [[error.content]]
                    </div>
                </div>

                <div class="form-group">
                    <label for="author">Author <span class="text-danger">[[error.author]]</span></label>
                    <input v-model="form.author" type="text" class="form-control" name="author" id="author"
                           placeholder="Author...">
                </div>

                <div class="text-right">
                    <button v-on:click="Clear" type="reset" class="btn btn-primary">Clear</button>
                    <button v-on:click="Send" type="button" class="btn btn-success" :disabled="disabled"
                            id="submitButtonX">Create Post
                    </button>
                </div>
                <div class="text-center">
                    <p>[[statusText]]</p>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-sm-12 my-3">
                <h4>Posts</h4>
            </div>
            <div class="col-sm-12 my-3" v-for="post of posts" :key="post.id">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">[[post.title]]</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">[[post.content]]</p>
                        <a :href="/posts/+post.id" class="btn btn-primary">Go somewhere</a>
                    </div>
                    <div class="card-footer text-muted">
                        [[post.publish_date]]
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{% static 'vue/index-ob.js' %}"></script>
{% endblock %}
