{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DRF :: View</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<div class="form">
    <form method="post" id="postForm">
        <input type="text" name="title" id="title" placeholder="Title...">
        <textarea name="content" id="content" cols="30" rows="10"></textarea>
        <input type="text" name="author" id="author" placeholder="Author...">
        <button type="submit" id="submitButton">Update Post</button>
    </form>
</div>
<div id="root"></div>
<a href="/"><< Back</a>
<script src="{% static 'js/detail.js' %}"></script>
</body>
</html>