{% extends 'layout/index.html' %}
{% load static %}
{% block title %}Details{% endblock %}
{% block content %}
    <div class="form">
        <form method="post" id="postForm">
            <input type="text" name="title" id="title" placeholder="Title...">
            <textarea name="content" id="content" cols="30" rows="10"></textarea>
            <input type="text" name="author" id="author" placeholder="Author...">
            <button type="submit" id="submitButton">Update Post</button>
        </form>
    </div>
    <div id="root"></div>
    <a href="/"><< Back</a>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/detail.js' %}"></script>
{% endblock %}
